h1 {
    color: green;
    font-family: segoe script;
    font-size: 32pt;
    font-weight: bold;
}
footer{
    color: green;
}
a {font-weight: normal;
      
   }
   a:link {
     font-weight: normal;
     text-decoration: underline;
   }
   a:visited {
     font-weight: normal;
     color: darkslategray;
     text-decoration: underline;
   }
   a:hover {
     font-weight: bolder;
     text-decoration: underline;
        }
   a:active {
     font-weight: normal;
     text-decoration: none;
   }
   thead th{
     text-align: left;
     text-decoration: underline;
     padding-left:200px;
   }
   tbody td {
  vertical-align: top;
   }